window#osd {
    padding: 1px 4px;
    border-radius: 6px;
    border: 2px solid #ebbcba;
    background-color: #1f1d2ed9;
    opacity: 0.90;
}

image {
    min-width: 10px;
    min-height: 10px;
    margin-right: 4px;
}

label {
    font-size: 9px;
    font-weight: 600;
    color: #e0def4;
    margin: 0px 0px 1px 0px;
}

progressbar, trough {
    border-radius: 3px;
}

trough {
    background-color: #2a273f;
    min-height: 6px;
    min-width: 100px;
    margin: 0px;
}

progressbar {
    background: linear-gradient(90deg, #ebbcba 0%, #524f67 100%);
    border-radius: 3px;
    min-height: 6px;
}